@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
:root{
	--bg-negro:#000;
	--color-negro:#323232;
	--color-gris:#232222;
	--bg-icon:#f4f4f4;
	--color-titulo:#222;
	--bg-azul:#50BECC;

	}

	body{
		font-family: 'Open Sans', sans-serif;	
		font-size: 14px;
		color: #555;
	}

	h1,h2,h3,h4,h5,h6,footer{
		font-family: 'Open Sans', sans-serif;
	}
	
	p{
		font-family: 'Open Sans', sans-serif;	
		
	}
	

	header{
		background-color: var(--color-gris);
		text-align: center;
	}


	#sobre-daniela{
		background-color: #50BECC;
		}

	#sobre-daniela h1{
		font-size: 40px;	
		font-weight: 200;
		padding-top: 10%;
		color: #fff;
		padding-bottom: 5%;
		

	} 

	#sobre-daniela p{
		font-size: 18px;
		text-align: justify;
		color: #fff;
	
}

.section{
	padding: 7% 0;
}



footer{
	background-color: #232222;
	color:#fff;
	border-top: 15px solid #232222;
	padding: 5px 0;
}


.redes-icon i{
	color: #fff;
	font-size: 50px;
	letter-spacing: 1px;
}

#servicios-edicion h3{
	color:#50BECC;
	font-size:30px;
	padding-top: 5%;
	text-transform: uppercase;
	
}


#servicios-edicion p{
	color:#232222;
	font-size: 14px;
	text-align: justify;
	letter-spacing: 1px;
	
}

#servicios-edicion h2{
	color:#50BECC;
	font-size:30px;
	padding-top: 5%;
	text-transform: uppercase;
	font-weight: 900;
}


#otros-servicios h3{
	color:#50BECC;
	font-size:30px;
	padding-top: 5%;
	text-transform: uppercase;
}

#otros-servicios p{
	color:#232222;
	font-size: 14px;
	text-align: justify;
	letter-spacing: 1px;
	
}

#otros-servicios h2{
	color:#50BECC;
	font-size:30px;
	padding-top: 5%;
	text-transform: uppercase;
	font-weight: 900;
}


.btn-dark{
	background-color: #50BECC;
	border: 2px solid #50BECC;
	font-size: 18px;
	padding: 5px 50px;
	margin-bottom: 35px;
}

.btn-dark:hover{
	background-color: #FFFFFF;
	color: #50BECC;
}

#fotografia h2{
	color:#50BECC;
	font-size:30px;
	padding-top: 5%;
	text-transform: uppercase;
	font-weight: 900;
	
}


#fotografia h3{
	color:#232222;
	font-size:18px;
	padding-top: 5%;
	text-transform: uppercase;
	
}


#enlaces-videos h2{
	color:#50BECC;
	font-size:30px;
	padding-top: 2%;
	text-transform: uppercase;
	font-weight: 900;
}


#contact-form h4{
	color:#50BECC;
	font-size:30px;
	padding-top: 5%;
	text-transform: uppercase;
	font-weight: 900;
	text-align:center;
}









	
	